<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitestash</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
     integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sitestash</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if logged_in}}
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/create">Add Bookmark</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logout" href="/">Log Out</a>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<header>
    <div class="jumbotron jumbotron-fluid text-center pt-4">
        <div class="container">
            <h1 class="display-4 ">Sitestash</h1>
            <p class="lead">A bookmark managing site.</p>
        </div>
    </div>
</header>

<main>
    {{{ body }}}
</main>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>