<div class="card">
    <div class="card-body">
        <h3 class="card-header p-3 mb-2 bg-light text-dark">Login</h3>
    <form id="login-form">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-login" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>OR</p>
        <a href="/signup" role="button" class="btn btn-primary">Sign Up</a>

    </div>
</div>

<script src="/js/login.js"></script>