<article class="d-flex flex-column"></article>
  <a class="back-to-dash" href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="title text-center">Create a new tag</h2><hr>

  <form class="new-tag-form">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Tags</span>
        <textarea type="text" name="tag-body" class="form-control"></textarea>
    </div>
      <button type="submit" class="btn btn-primary text-center">Create Tag</button>
  </form>
</article>

<script src="/js/tags.js"></script>